body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Kdam Thmor Pro', 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#profile-container {
  background: -moz-linear-gradient(to bottom, #9eebcf, #4eebb1 50%, #1eebb1);
  background: -webkit-linear-gradient(to bottom, #9eebcf, #4eebb1 50%, #1eebb1);
  background: linear-gradient(to bottom, #9eebcf, #4eebb1 50%, #1eebb1);
}

#yoshi-img {
  border-radius: 50%;
}

#sns li a::before {
  -webkit-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  font-family: FontAwesome;
  line-height: 44px; 
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  width: 44px; 
}

#sns li a:hover::before {
  opacity: 0.7;
}

#sns li a[href*="facebook.com"]::before       { background-color: #3b5998; content: "\f09a"; }
#sns li a[href*="github.com"]::before         { background-color: #181717; content: "\f09b"; }
#sns li a[href*="linkedin.com"]::before       { background-color: #0077b5; content: "\f0e1"; }
#sns li a[href*="twitter.com"]::before        { background-color: #55acee; content: "\f099"; }